<section class="my-5">
  <div *ngIf="cartData != null; else cartEmpty" class="p-5 bg-light rounded">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h1>Cart Shop</h1>
      <a
        class="btn btn-primary"
        [routerLink]="['/checkout', cartData.data._id]"
      >
        check out
      </a>
    </div>
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h2 class="h4 fw-bold">
        Total price:
        <span class="color-main">{{
          cartData.data.totalCartPrice | currency
        }}</span>
      </h2>
      <p class="m-0 h4 fw-bold">
        total number of items:
        <span class="color-main">{{ cartData.numOfCartItems }}</span>
      </p>
    </div>
    <div>
      <div
        class="row align-items-center mb-2 border"
        *ngFor="let product of cartData.data.products"
      >
        <div class="col-md-2">
          <img
            [src]="product.product.imageCover"
            class="w-100"
            [alt]="product.product.title"
          />
        </div>
        <div
          class="col-md-10 d-flex justify-content-between align-items-center"
        >
          <div>
            <h3 class="h4">
              {{ product.product.title.split(" ").slice(0, 2).join(" ") }}
            </h3>
            <h4 class="h6 color-main">{{ product.price | currency }}</h4>
            <button class="btn px-0" (click)="removeItem(product.product._id)">
              <i class="fa-regular fa-trash-can"></i>
              Remove
            </button>
          </div>
          <div class="counters">
            <button
              class="btn border-success rounded-1"
              (click)="updateItem(product.product._id, product.count + 1)"
            >
              +
            </button>
            <span class="mx-2">{{ product.count }}</span>
            <button
              class="btn border-success rounded-1"
              (click)="
                updateItem(
                  product.product._id,
                  product.count - 1 != 0 ? product.count - 1 : 1
                )
              "
            >
              -
            </button>
          </div>
        </div>
      </div>
      <div class="text-center mt-3">
        <button class="btn btn-lg btn-outline-dark" (click)="clearCart()">
          Clear Cart
        </button>
      </div>
    </div>
  </div>
</section>
<ng-template #cartEmpty>
  <h1 class="text-center">your cart is empty</h1>
</ng-template>
