<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand fs-2" routerLink="home">
      <i class="fa fa-shopping-cart color-main"></i>
      <span class="fw-bold"> fresh cart</span>
    </a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="text-black"
            >login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/register"
            routerLinkActive="text-black"
            >register</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
