<section class="bg-main-light p-4 rounded my-3 w-75 m-auto">
  <h1 class="h2">Register Now :</h1>

  <form [formGroup]="registerForm" (ngSubmit)="handleForm()">
    <div class="mb-3">
      <label for="name">name:</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="form-control"
        #nameInput
      />
      <div
        *ngIf="
          registerForm.get('name')?.errors &&
          (registerForm.get('name')?.touched || nameInput.value.length > 0)
        "
      >
        <p class="text-muted mt-2">
          feild cant be empty, Min Lingth 3, Max Lingth 20
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label for="email">email:</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="form-control"
        #emailInput
      />
      <div
        *ngIf="
          registerForm.get('email')?.errors &&
          (registerForm.get('email')?.touched || emailInput.value.length > 0)
        "
      >
        <p class="text-muted mt-2">
          feild cant be empty, email should be valid
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label for="password">password:</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="form-control"
        #passwordInput
      />
      <div
        *ngIf="
          registerForm.get('password')?.errors &&
          (registerForm.get('password')?.touched ||
            passwordInput.value.length > 0)
        "
      >
        <p class="text-muted mt-2">
          password must start with capital letter this 6-10 chars
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label for="rePassword">rePassword:</label>
      <input
        type="password"
        id="rePassword"
        formControlName="rePassword"
        class="form-control"
        #rePasswordInput
      />
      <div
        *ngIf="
          registerForm.get('rePassword')?.errors &&
          (registerForm.get('rePassword')?.touched ||
            rePasswordInput.value.length > 0)
        "
      >
        <p class="text-muted mt-2">password and re-password dosnt match</p>
      </div>
    </div>
    <div class="mb-3">
      <label for="phone">phone:</label>
      <input
        type="tel"
        id="phone"
        formControlName="phone"
        class="form-control"
        #phoneInput
      />
    </div>
    <div
      *ngIf="
        registerForm.get('phone')?.errors &&
        (registerForm.get('phone')?.touched || phoneInput.value.length > 0)
      "
    >
      <p class="text-muted mt-2">phone number must be egyptian number</p>
    </div>
    <button type="submit" class="btn btn-outline-secondary">
      <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i> register now
    </button>
    <p *ngIf="msgError">{{ msgError }}</p>
  </form>
</section>
